ESTA ES UNA API MUY RUDIMENTARIA. 

Carece de entorno gráfico o de todas esas cosas bonitas que atraen presupuesto. 

No funciona con botones sino con dolor. 

Sin embargo, es el punto de partida.

In [1]:
import pandas as pd

#input_data = input("Introduce path for data")
data = pd.read_csv("prueba.csv").drop(["Unnamed: 0"], axis=1)#(input_data)
data_dict = data.to_dict(orient='list')

data

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned,RowNumber,CustomerId
0,Swift,26,France,Female,24,1,3254235,1,1,1,452234,1,2,GOLD,35,1,324125
1,Holland,7984,France,Male,67,2,542234,1,1,1,435254,1,2,GOLD,645,2,564
2,Trump,46,France,Male,85,3,42524352,1,1,1,32454346,1,2,GOLD,345,3,52354426
3,Musk,87,France,Male,99,4,23452345,1,1,1,4576568,1,2,GOLD,657,4,643
4,Carpenter,1,France,Female,123,5,325423435,1,1,1,7658687,1,2,GOLD,923,5,2

In [4]:
import json

#Formateado para la API:
data_json = json.dumps({"data": [data_dict]})

suri = open("uri.json", "r")
scoring_uri = json.load(suri)["URI"][0]
suri.close()

In [5]:
## La API per-sé:

headers = {"Content-Type": "application/json"}
import requests
response = requests.post(scoring_uri, data=data_json, headers=headers)

if response.status_code == 200:
  result = json.loads(response.json())
  print(result)
  data["Exited"] = result
  display(data)
else:
  print(f"Error: {response.text}")

[Errno 36] File name too long: '{"data": [{"Surname": ["Swift", "Holland", "Trump", "Musk", "Carpenter"], "CreditScore": [26, 7984, 46, 87, 1], "Geography": ["France", "France", "France", "France", "France"], "Gender": ["Female", "Male", "Male", "Male", "Female"], "Age": [24, 67, 85, 99, 123], "Tenure": [1, 2, 3, 4, 5], "Balance": [3254235, 542234, 42524352, 23452345, 325423435], "NumOfProducts": [1, 1, 1, 1, 1], "HasCrCard": [1, 1, 1, 1, 1], "IsActiveMember": [1, 1, 1, 1, 1], "EstimatedSalary": [452234, 435254, 32454346, 4576568, 7658687], "Complain": [1, 1, 1, 1, 1], "Satisfaction Score": [2, 2, 2, 2, 2], "Card Type": ["GOLD", "GOLD", "GOLD", "GOLD", "GOLD"], "Point Earned": [35, 645, 345, 657, 923], "RowNumber": [1, 2, 3, 4, 5], "CustomerId": [324125, 564, 52354426, 643, 2]}]}'

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned,RowNumber,CustomerId,Exited
0,Swift,26,France,Female,24,1,3254235,1,1,1,452234,1,2,GOLD,35,1,324125,"[Errno 36] File name too long: '{""data"": [{""Su..."
1,Holland,7984,France,Male,67,2,542234,1,1,1,435254,1,2,GOLD,645,2,564,"[Errno 36] File name too long: '{""data"": [{""Su..."
2,Trump,46,France,Male,85,3,42524352,1,1,1,32454346,1,2,GOLD,345,3,52354426,"[Errno 36] File name too long: '{""data"": [{""Su..."
3,Musk,87,France,Male,99,4,23452345,1,1,1,4576568,1,2,GOLD,657,4,643,"[Errno 36] File name too long: '{""data"": [{""Su..."
4,Carpenter,1,France,Female,123,5,325423435,1,1,1,7658687,1,2,GOLD,923,5,2,"[Errno 36] File name too long: '{""data"": [{""Su..."